// Color
$body-color: #000000;
$heading-color: #000000;

$theme-primary-color: #157FDA;
$theme-secondary-color: #D85B78;
$theme-tertiary-color:  #1D93E3;
$theme-quaternary-color: #E6171F;
$theme-fifth-color: #FF8621;
$theme-six-color: #0C5860;
$theme-seven-color: #208369;

$color-hover: #1D93E3;
$color-required: #ff5555;

$color-white: #ffffff;
$color-salem: #2C904F;
$color-cadmium-green: #0A5E2C;
$color-cadmium-yellow: #FFF400;
$color-sunset-orange: #FE5B58;

// Background
$background-body: #FCFCFC;
$background-primary: #333333;
$background-hover: #ff5555;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;