.element-category-list {
  &__grid {
    display: grid;

    .item {
      padding: 2.3rem .8rem;
      border-radius: 1rem;
      border: .1rem solid var(--newshealth-theme-secondary-color);
      background-color: var(--color-white);
      display: flex;
      gap: 2.4rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__image {}

      &__title {
        margin-bottom: 0;
        color: #000000;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: var(--body-font-family);

        a {
         color: inherit;
        }
      }

      &:hover {
        .item__title {
          color: var(--newshealth-theme-primary-color);
        }
      }
    }
  }
}