.element-group-button-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 576px) {
    gap: 2.4rem 5.2rem;
  }

  @media (max-width: 575px) {
    gap: 2.4rem
  }

  .btn-contact {
    flex: 0 0 auto;
  }
}