@import "../../variables-site/variables";

.content-archive-post {
  .row {
    row-gap: 2.4rem;
  }

  .item {
    display: grid;

    @media (min-width: 992px) {
      grid-gap: 3rem;
      grid-template-columns: 30rem 1fr;
    }

    @media (max-width: 991px) {
      grid-gap: 3rem 1.6rem;
    }

    @media (min-width: 576px) and (max-width: 991px) {
      grid-template-columns: 20rem 1fr;
    }

    ~ .item {
      margin-top: 3rem;
      padding-top: 3rem;
      border-top: 1px dashed #dcdedf;
    }

    .post-thumbnail {
      img {
        width: 100%;
      }
    }

    &__content {
      .meta {
        margin-bottom: 1.2rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1.5rem 1fr;

        svg {
          transform: translateY(.6rem);
        }

        &__cate {
          a {
            color: #515a60;

            &:hover {
              color: #F30000;
            }
          }
        }
      }

      .post-title {
        margin-bottom: 1.2rem;
        line-height: 1.2;
        text-align: left;

        @media (min-width: 992px) {
          font-size: 2rem;
        }

        @media (max-width: 991px) {
          font-size: 1.8rem;
        }
      }

      .post-desc {
        color: #515a60;
        flex: 1;
      }

      .action-box {
        margin-top: 2rem;
      }

      .text-read-more {
        display: inline-block;
        font-weight: 500;
        text-decoration: underline;

        &:hover {
          color: var(--body-color);
        }
      }
    }
  }

  .page-links {
    font-weight: 700;

    a {
      display: inline-block;

      span {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}